

body {
  margin: 0;
  font-family: "Mulish", sans-serif !important;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fw-400{
  font-family: "Mulish", sans-serif !important;
  font-weight: 400 !important;
}

.fw-500{
  font-family: "Mulish", sans-serif !important;
  font-weight: 500 !important;
}

.fw-600{
  font-family: "Mulish", sans-serif !important;
  font-weight: 600 !important;
}

.fw-700{
  font-family: "Mulish", sans-serif !important;
  font-weight: 700 !important;
}
.fw-800{
  font-family: "Mulish", sans-serif !important;
  font-weight: 800 !important;
}
button, input, optgroup, select, textarea{
  font-family: "Mulish", sans-serif !important;
}
.active{
  color:#06b6d4 !important;
}
.green-text{color:#06b6d4 !important;}
.primary-bg{
  background-color:#06b6d4 !important;
}
.nav-link:hover{
  
  color:#06b6d4 !important;
}